* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-color: rgb(35, 35, 35);

}

/* HEADER BANNER AND SIGN IN WITH EMAIL */

.banner::before {

    content: "";
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/dc1cf82d-97c9-409f-b7c8-6ac1718946d6/14a8fe85-b6f4-4c06-8eaf-eccf3276d557/IN-en-20230911-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 690px;
    opacity: 0.42;
    z-index: -1;
    position: absolute;

}


.head {

    width: 78%;
    margin: auto;
    padding: 20px;

}

.head select {

    margin-left: 66%;
    height: 40px;
    width: 9%;
    background-color: transparent;
    color: aliceblue;
    font-weight: 600;
    border-radius: 3px;

}

.head a {

    padding: 10px;
    text-decoration: none;
    margin-left: 3%;
    background-color: rgb(229, 9, 20);
    color: whitesmoke;
    font-weight: 600;
    border-radius: 6px;

}

.head a:hover {
    background-color: rgb(185, 30, 30);
}

.head select:hover {
    outline: 3px solid white;
}

.heading {

    width: 75%;
    height: 300px;
    margin: auto;
    padding-top: 10%;
    text-align: center;
    color: whitesmoke;
    font-size: 48px;
    font-weight: 900;
    font-family: 'Audiowide', cursive;

}

.sub-heading {

    margin: auto;
    text-align: center;
    font-size: 24px;
    line-height: 2;
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 5px black;

}

.email {

    margin: auto;
    text-align: center;


}

.email input {

    width: 390px;
    height: 54px;
    border: 1px solid red;
    border-radius: 9px;
    background-color: transparent;


}

.email input:hover {
    outline: 3px solid white;
}


.email input:focus {

    color: rgb(253, 253, 253);
    font-size: 21px;
    background-color: rgba(31, 25, 19);

}

.email input::placeholder {

    color: white;
    font-size: 15px;
    font-weight: 210;

}



.email button {

    width: 210px;
    height: 54px;
    font-size: 19px;
    background-color: rgb(229, 36, 46);
    border-radius: 9px;
    color: white;
    font-weight: 600;

}


/* ENJOY TV */


#enjoytv {

    margin-top: 159px;
    background-color: rgb(0, 0, 0);

}

.tv {

    width: 75%;
    margin: auto;
    padding-top: 9vh;
    color: white;

}

.tv img {

    width: 45%;
    height: 50vh;
    position: relative;
    left: 54%;

}

.tv h2 {
    position: relative;
    font-size: 21px;
    bottom: 36vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 48px;
    font-weight: 900;

}

.tv p {


    position: relative;
    bottom: 29vh;
    font-size: 24px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}


/* DOWNLOAD AND WATCH */


#downwatch {

    margin-top: 12px;
    background-color: rgb(0, 0, 0);

}

.download {

    width: 78%;
    margin: auto;
    padding-top: 9vh;
    color: white;


}

.download img {

    width: 45%;
    height: 54vh;

}

.download h2 {

    position: relative;
    font-size: 21px;
    bottom: 36vh;
    left: 48%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 48px;
    font-weight: 900;

}

.download p {

    position: relative;
    bottom: 29vh;
    left: 48%;
    font-size: 19px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}


/* WATCH EVERY WHERE */



#watchevery {

    margin-top: 12px;
    background-color: rgb(0, 0, 0);

}

.watch {

    width: 75%;
    margin: auto;
    padding-top: 9vh;
    color: white;

}


.watch img {

    width: 45%;
    height: 50vh;
    position: relative;
    left: 54%;

}

.watch h2 {
    position: relative;
    font-size: 21px;
    bottom: 36vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 48px;
    font-weight: 900;

}

.watch p {


    position: relative;
    bottom: 29vh;
    font-size: 21px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}


/* PROFILES FOR KIDS */



#prkids {

    margin-top: 12px;
    background-color: rgb(0, 0, 0);

}

.kids {

    width: 78%;
    margin: auto;
    padding-top: 9vh;
    color: white;


}

.kids img {

    width: 45%;
    height: 54vh;

}

.kids h2 {

    position: relative;
    font-size: 21px;
    bottom: 36vh;
    left: 48%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 54px;
    font-weight: 900;

}

.kids p {

    position: relative;
    bottom: 29vh;
    left: 48%;
    font-size: 21px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}


/* FAQ */



#faque {

    margin-top: 12px;
    background-color: rgb(0, 0, 0);

}

.faq {

    text-align: center;
    padding: 9vh 0vh;
    color: white;
    font-size: 48px;
    font-family: 'Audiowide', cursive;

}

.information {
    width: 72%;
    margin: auto;
}

.information details {

    font-size: 21px;
    margin-bottom: 9px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: rgb(45, 45, 45);
    padding: 27px;

}

.information details>summary {
    list-style: none;
}

.information span {

    font-size: 39px;
    float: right;

}

.information details:hover {
    background-color: rgb(67, 64, 64);
}


/* FOOTER */


.foot {

    margin-top: 15px;
    background-color: rgb(0, 0, 0);
    padding-top: 9vh;
    color: white;
    font-size: 18px;
    line-height: 3;

}

.fooo {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}