/* USING SUPREME FONTS */

@font-face {
    font-family: Supreme-Light;
    src: url(Files/Font/Supreme/Supreme-Light.woff2),
        url(Files/Font/Supreme/Supreme-Light.woff);
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Supreme-Medium;
    src: url(Files/Font/Supreme/Supreme-Medium.woff2),
        url(Files/Font/Supreme/Supreme-Medium.woff);
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}




/* CSS RESETS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Supreme-Light, Helvetica, Sans-Serif;
}



/* USING ROOT FOR COLOR */

:root {
    --lightblack: #121212;
    --white: #F9F9F9;
    --emerald: #18C393;
    --darkgrey: #212121;
}



/* CUSTOM SCROLL BAR */

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--white);
}



/* BODY CSS */

body {
    background-color: var(--lightblack);
    color: var(--white);
    letter-spacing: 0.03rem;
    word-spacing: 0.21rem;
    cursor: url(Files/Cursor/Normal.svg), default;
}



/* FOR ALL SVG */

svg {
    height: 100%;
    width: 100%;
}



/* NAV BAR CODE STARTS */

.logo {
    width: 51px;
    height: 51px;
    filter: drop-shadow(0 0 3px var(--emerald));
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.39rem 3.9rem;
    background-color: #181818;
    border-bottom: 3px solid var(--darkgrey);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}


.navlinks {
    display: flex;
    gap: 3.9rem;
    list-style-type: none;
}


.navlinks a {
    color: var(--white);
    text-decoration: none;
    font-family: Supreme-Medium, Helvetica, Sans-Serif;
    position: relative;
    transition: transform 210ms linear;
    display: block;


    &:hover {
        transform: scale(1.09);
        cursor: url(Files/Cursor/Pointer.svg), pointer;
    }

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: var(--emerald);
        border-radius: 1rem;
        bottom: -21%;
        transform: scaleX(0);
        transition: transform 270ms linear;
        transform-origin: right;
    }

    &:hover::before {
        transform: scaleX(1);
        transform-origin: left;
    }

}





.hamburger-menu>.menu {
    height: 27px;
    width: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.hamburger-menu>.menu>div {
    height: 9%;
    background-color: var(--white);
    border-radius: 2rem;
    transition: transform 270ms linear, opacity 180ms linear;
    transform-origin: left;
}


.hamburger-menu {
    display: none;
}


#clickable-menu {
    display: none;
    height: 27px;
    width: 24px;
}

/* NAVBAR CODE ENDS */



/* HERO SECTION / HOME CODE STARTS */

#hero-section {
    padding-top: 6rem;
    word-spacing: 0.69rem;
    position: relative;
    overflow: hidden;

    &::before {

        content: '';
        height: 3px;
        width: 3px;
        background-color: var(--white);
        border-radius: 50%;
        position: absolute;
        box-shadow: 0 0 9px var(--white);
        opacity: 1;
        z-index: -1;
        inset: 0;
        transform: translate(-1vw, 10vh);

        animation: SHOOTING-STAR 3600ms linear infinite 500ms;

    }
}







@keyframes SHOOTING-STAR {

    75% {
        opacity: 0;
    }

    100% {
        transform: translate(108vw, 108vh);
        opacity: 0;
    }

}



.profile-photo {
    height: 210px;
    width: 210px;
    border-radius: 50%;
    margin-inline: auto;
    box-shadow: 0 0 45px 9px #272727;
    background-color: var(--darkgrey);

    opacity: 0;
    animation: OPACITY 1500ms linear 609ms forwards;
}



.profile-photo>img {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: inherit;
}


.profile-details {
    font-size: 2.1rem;
    text-align: center;
    margin-block: 2.7rem;

    opacity: 0;
    animation: OPACITY 1800ms linear 609ms forwards;
}


@keyframes OPACITY {
    100% {
        opacity: 1;
    }
}


.profile-details>strong {
    display: block;
    font: 500 3.6rem Supreme-Medium, Helvetica, Sans-Serif;
    width: fit-content;
    margin-inline: auto;
    background-image: linear-gradient(129deg, var(--emerald) , #9654FC ,#0099CC );
    background-clip: text;
    color: transparent;
}


.profile-details>p>strong {
    color: #696969;
    font-weight: 300;
}


.resume-button {
    display: block;
    margin-inline: auto;
    border: none;
    background-color: transparent;

    opacity: 0;
    animation: OPACITY 1500ms linear 720ms forwards;
}


.resume-button>a {

    display: block;
    text-decoration: none;
    background-color: var(--lightblack);
    border: 3px solid #272727;
    color: var(--white);
    font-size: 1.09rem;
    padding: 0.96rem;
    font-family: Supreme-Medium, Helvetica, Sans-Serif;
    transition: color 210ms linear, background-color 210ms linear, transform 210ms linear;


    &:hover {
        color: var(--lightblack);
        background-color: var(--emerald);
        transform: translateY(-9%);
        cursor: url(Files/Cursor/Pointer.svg), pointer;
    }

}


.moon {

    height: 108px;
    width: 108px;
    background-color: #F9F9F993;
    border-radius: 50%;
    box-shadow: 0 0 0 9px #F9F9F921, 0 0 0 21px #F9F9F909, 0 0 9px 54px #F9F9F909;
    position: absolute;
    top: 9.99%;
    right: 0;
    z-index: 999;
    pointer-events: none;

    opacity: 0;
    animation: OPACITY 1500ms linear 609ms forwards;


    &::before,
    &::after {
        content: '';
        position: absolute;
        background-color: #818181;
        border-radius: 50%;
    }

    &::before {
        height: 18%;
        width: 18%;
        right: 21%;
        top: 21%;
    }

    &::after {
        height: 12%;
        width: 12%;
        right: 12%;
        top: 45%;
        box-shadow: -54px 18px 0px #818181;
    }

}




/* HERO SECTION / HOME CODE ENDS */



/* FOR ALL SECTIONS */

.all-sections {
    padding-inline: 3.9rem;
    padding-bottom: 7.2rem;
}



/* FOR ALL HEADINGS */

.headings {
    margin-bottom: 4.5rem;
    width: fit-content;
    position: relative;
    font: 500 1.5rem Supreme-Medium, Helvetica, Sans-Serif;


    &::before,
    &::after {
        content: '';
        position: absolute;
        height: 4px;
        left: 0;
        border-radius: 1rem;
        background-color: #272727;
    }

    &::before {
        bottom: -27%;
        width: 39%;
    }

    &::after {
        bottom: -63%;
        width: 69%;
    }
}






/* ABOUT ME SECTION CODE STARTS */

.aboutme-info>p {
    font-size: 1.18rem;
}


.aboutme-info>p:not(:last-child) {
    margin-bottom: 2.4rem;
}

/* ABOUT ME SECTION CODE ENDS */



/* TECHNOLOGIES / SKILLS SECTION CODE STARTS */

.skills>div {
    display: flex;
    align-items: center;
    gap: 2.1rem;
    font: 500 1.05rem Supreme-Medium, Helvetica, Sans-Serif;
}


.skills>div:not(:last-child) {
    margin-bottom: 2.1rem;
}


.skills>div>div:has(svg) {
    height: 50px;
    width: 50px;
}


.skills>div>div:has(figure) {
    flex-grow: 2;
}


.skills span {
    display: inline-block;
    width: 50%;
    text-align: right;
}


.skills span:first-child {
    text-align: left;
}


.skills figure {
    margin-top: 0.27rem;
    padding: 0.21rem;
    background-color: #272727;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        background-color: var(--emerald);
        height: 100%;
        inset: 0;
    }
}





.skill-1 figure::before {
    width: 90%;
}

.skill-2 figure::before {
    width: 81%;
}

.skill-3 figure::before {
    width: 63%;
}

.skill-4 figure::before {
    width: 63%;
}

.skill-5 figure::before {
    width: 54%;
}

/* TECHNOLOGIES / SKILLS SECTION CODE ENDS */



/* CONTACT ME SECTION CODE STARTS */

.contact-links>address {
    display: inline-block;
    margin-right: 0.6rem;
}


.contact-links a {
    display: inline-block;
    height: 54px;
    width: 54px;
    transition: filter 210ms linear, transform 210ms linear;

    &:hover {
        transform: scale(1.09);
        filter: drop-shadow(0 0 3px var(--emerald));
        cursor: url(Files/Cursor/Pointer.svg), pointer;
    }

}





.contact-form {
    width: 400px;
    margin-top: 2.7rem;
    position: relative;
    display: grid;
    place-items: center;
    overflow: hidden;
    padding: 0.09rem;


    &::before {
        content: '';
        position: absolute;
        height: 168%;
        width: 168%;
        z-index: -1;
        background-image: linear-gradient(129deg, var(--emerald), transparent, transparent);
        animation: ROTATE 2700ms linear infinite;
    }

}



@keyframes ROTATE {
    100% {
        transform: rotate(360deg);
    }
}



.contact-form>form {

    width: 100%;
    padding: 2rem;
    background-color: var(--lightblack);


    &>:is(input, textarea) {
        display: block;
        width: 100%;
        font-size: 1.09rem;
        color: var(--textcolor);
        background-color: transparent;
        border: 2px solid var(--darkgrey);
        margin-bottom: 1.5rem;
        padding: 0.54rem 0.39rem;
        resize: none;
        overflow-x: hidden;
    }


    &>:is(input, textarea):focus {
        outline: none;
        resize: none;
        caret-color: #0099CC;
    }


    &>:is(input, textarea):focus::placeholder {
        transform: translateX(108%);
    }


    &>:is(input, textarea)::placeholder {
        transition: transform 210ms linear;
        color: var(--white);
    }


    &>button {
        font-size: 1.09rem;
        padding: 0.5rem 1.9rem;
        color: var(--textcolor);
        background-color: transparent;
        font-family: Supreme-Medium, Helvetica, Sans-Serif;
        border: 3px solid #272727;
        transition: color 210ms linear, background-color 210ms linear, transform 210ms linear;

        &:hover {
            color: var(--lightblack);
            background-color: var(--emerald);
            transform: translateY(-9%);
            cursor: url(Files/Cursor/Pointer.svg), pointer;
        }

    }

}


footer {
    padding: 0.69rem 3.9rem;
    background-color: #181818;
    border: 2px solid #272727;

    &>p {
        width: fit-content;
        background-image: linear-gradient(129deg,#0099CC, #9654FC , var(--emerald) );

        background-clip: text;
        color: transparent;
        font-family: Supreme-Medium, Helvetica, Sans-Serif; 
        margin-inline: auto;  
        text-align: center;
    }

    &>:first-child{
        margin-bottom: 0.69rem;
    }

}
























/* MEDIA QUERIES --- REPONSIVE CSS */

@media (max-width: 992px) {

    nav,
    .all-sections,
    footer {
        padding-inline: 2.7rem;
    }

    .logo {
        height: 45px;
        width: 45px;
    }

    /* RESPONSIVE MENU CODE STARTS */

    .hamburger-menu {
        display: block;
        pointer-events: none;
    }


    #clickable-menu {
        display: block;
        position: absolute;
        right: 2.7rem;
        opacity: 0;
        z-index: 1;
    }


    .navlinks {
        position: absolute;
        width: 100%;
        display: flex;
        flex-direction: column;
        top: 100%;
        border: 3px solid var(--darkgrey);
        background-color: #181818;
        right: 0;
        gap: 1rem;
        padding: 1rem;
        transform: translateX(100%);
        transition: transform 399ms linear;
    }


    #clickable-menu:checked~.navlinks {
        transform: translateX(0%);
    }


    #clickable-menu:checked+.hamburger-menu .line-1 {
        transform: rotate(40deg);
        transform-origin: left;
    }


    #clickable-menu:checked+.hamburger-menu .line-3 {
        transform: rotate(-40deg);
        transform-origin: left;
    }


    #clickable-menu:checked+.hamburger-menu .line-2 {
        opacity: 0;
    }


    .navlinks>li {
        width: fit-content;
        margin-inline: auto;
    }

    /* RESPONSIVE MENU CODE ENDS */



    .profile-photo {
        height: 18 0px;
        width: 18 0px;
    }

    .profile-details {
        font-size: 1.8rem;
    }

    .profile-details>strong {
        font-size: 3rem;
    }

    .resume-button>a {
        font-size: 1.02rem;
    }

    .moon {
        height: 90px;
        width: 90px;
        box-shadow: 0 0 0 9px #F9F9F921, 0 0 0 18px #F9F9F909, 0 0 9px 45px #F9F9F909;
        z-index: -1;
    }

    .headings {
            font-size: 1.29rem;
    }
    

    .aboutme-info>p {
        font-size: 1.09rem;
    }

    .skills>div {
        font-size: 1.02rem;
    }

    .skills>div>div:has(svg) {
        height: 45px;
        width: 45px;
    }

    footer {
        &>p {
            font-size: 0.93rem;
        }
    }

}






@media (max-width: 768px) {

    nav,
    .all-sections,
    footer {
        padding-inline: 1.8rem;
    }

    #hero-section {
        padding-top: 5rem;

        &::before {
            display: none;
            animation-play-state: paused;
        }
    }



    .logo {
        height: 39px;
        width: 39px;
    }

    .hamburger-menu>.menu,
    #clickable-menu {
        height: 24px;
        width: 21px;
    }

    #clickable-menu {
        right: 1.8rem;
    }

    .profile-details {
        font-size: 1.5rem;
    }

    .profile-details>strong {
        font-size: 2.7rem;
    }

    .resume-button>a {
        font-size: 1rem;
        padding: 0.75rem;
    }

    .moon {
        height: 78px;
        width: 78px;
        box-shadow: 0 0 0 6px #F9F9F921, 0 0 0 12px #F9F9F909, 0 0 9px 39px #F9F9F909;
        top: 9%;
    }

    .moon::after {
        box-shadow: -39px 18px 0px #818181;
    }

    .contact-form>form {
        padding: 1.5rem;
    }

    .contact-form>form>:is(input, textarea, button) {
        font-size: 1rem;
    }

    footer>p {
        font-size: 0.75rem;
    }

}






@media (max-width: 576px) {

    .moon {
        display: none;
    }

    #clickable-menu {
        right: 1.2rem;
    }

    nav,
    .all-sections,
    footer {
        padding-inline: 1.2rem;
        border-width: 2px;
    }

    .navlinks {
        font-size: 0.81rem;
        border-width: 2px;
        gap: 1.5rem;
        padding: 1.5rem;
    }

    .all-sections {
        padding-bottom: 5.4rem;
    }

    .profile-photo {
        height: 150px;
        width: 150px;
    }

    .profile-details {
        font-size: 1.2rem;
        margin-block: 1.8rem;
    }

    .profile-details>strong {
        font-size: 1.9rem;
    }

    .resume-button>a {
        font-size: 0.81rem;
    }

    .headings {
            font-size: 1.18rem;
    }

    .aboutme-info>p {
        font-size: 1rem;
    }

    .skills>div {
        font-size: 0.81rem;
    }

    .skills>div>div:has(svg) {
        height: 39px;
        width: 39px;
    }

    .skills>div {
        gap: 0.9rem;
    }

    .skills figure {
        padding: 0.15rem;
    }

    .contact-links a {
        height: 45px;
        width: 45px;
    }

    .contact-form {
        width: 360px;

        &::before {
            height: 180%;
            width: 180%;
        }
    }

}






@media (max-width: 420px) {

    .resume-button>a,
    .contact-form>form>button {
        border-width: 2px;
    }

    .logo {
        height: 29px;
        width: 29px;
    }

    .hamburger-menu>.menu,
    #clickable-menu {
        height: 21px;
        width: 18px;
    }

    .headings {
            font-size: 1.09rem;
    }

    .aboutme-info>p {
        font-size: 0.9rem;
    }

    .contact-form>form>:is(input, textarea, button) {
        font-size: 0.9rem;
    }

    .contact-form {
        width: 100%;
    }

}